

h1{
  text-align: center;
  color: beige;

}
.taskentry{
  width: 500px;
  height: 500px;
  margin-left: 50px;
  background-color:#4DA4D4;
  padding: 5px;
  border-radius: 20px;
  color: black;
  button{
  border-radius: 20px;
  color: black;
  }
}
.tasks{
  color: black;
}
.tasks1{
  input{
  margin-left: 22px;
  width: 26px;

  }
}

input{
  margin-left: 50px;
  height: 20px;
  width: 203px;
  margin-top: 25px;
  padding: 4px;
  border-radius: 20px;
  color: black;
}
.taskbox{
  float:  right;
}
.complete{
  text-decoration: line-through
}
